
<!-- saved from url=(0048)file:///C:/Users/Owner/Downloads/cart%20(1).html -->
<html><head><meta http-equiv="Content-Type" content="text/html; charset=windows-1252"><link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>






														                 <!-- Customer Page -->
																		 
<div data-role="page" id="customerpage" data-theme="a">
{% include 'sample/headerTitle.html'%}
<div data-role="header">
		<h1>Customer page</h1>
	</div><!-- /header -->

<div role="main" class="ui-content">
	
		
        
    <div class="ui-grid-b">
	<div class="ui-block-a"><div class="ui-bar ui-bar-a" style="height:100px">Chocolate Doughnut</div></div>
	<div class="ui-block-b"><div class="ui-bar ui-bar-a" style="height:100px"><button id="dnplus1" productname="chocolate"> + </button><button id="dnmin1"> - </button></div></div>
	<div class="ui-block-c"><div class="ui-bar ui-bar-a" style="height:100px"><input type="text" id = "dqty1" size="2" value="0"/></div></div>
	</div><!-- /grid-b -->

	
	<br>
	<br>
	
	<div class="ui-grid-b">
	<div class="ui-block-a"><div class="ui-bar ui-bar-a" style="height:100px">Plain Ring Doughnut</div></div>
	<div class="ui-block-b"><div class="ui-bar ui-bar-a" style="height:100px"><button id="dnplus2" productname="plain"> + </button><button id="dnmin2"> - </button></div></div>
	<div class="ui-block-c"><div class="ui-bar ui-bar-a" style="height:100px"><input type="text" id = "dqty2" size="2" value="0"/></div></div>
	</div><!-- /grid-b -->
	
	
	<br>
	<br>
	
	
	 <div class="ui-grid-b">
	<div class="ui-block-a"><div class="ui-bar ui-bar-a" style="height:100px">Lemon Doughnut</div></div>
	<div class="ui-block-b"><div class="ui-bar ui-bar-a" style="height:100px"><button id="dnplus3" productname="lemon"> + </button><button id="dnmin3"> - </button></div></div>
	<div class="ui-block-c"><div class="ui-bar ui-bar-a" style="height:100px"><input type="text" id = "dqty3" size="2" value="0"/></div></div>
	</div><!-- /grid-b -->

	
	<br>
	<br>
	
	    <div class="ui-grid-b">
	<div class="ui-block-a"><div class="ui-bar ui-bar-a" style="height:100px">Sprinkle Doughnut</div></div>
	<div class="ui-block-b"><div class="ui-bar ui-bar-a" style="height:100px"><button id="dnplus4" productname="sprinkle"> + </button><button id="dnmin4"> - </button></div></div>
	<div class="ui-block-c"><div class="ui-bar ui-bar-a" style="height:100px"><input type="text" id = "dqty4" size="2" value="0"/></div></div>
	</div><!-- /grid-b -->

	
	<br>
	<br>
	
	<div class="ui-grid-b">
	<div class="ui-block-a"><div class="ui-bar ui-bar-a" style="height:100px">Jam Doughnut</div></div>
	<div class="ui-block-b"><div class="ui-bar ui-bar-a" style="height:100px"><button id="dn5plus" productname="jam"> + </button><button id="dnmin5"> - </button></div></div>
	<div class="ui-block-c"><div class="ui-bar ui-bar-a" style="height:100px"><input type="text" id = "dqty5" size="2" value="0"/></div></div>
	</div><!-- /grid-b -->
	
	
	<br>
	<br>
	
	
	 <div class="ui-grid-b">
	<div class="ui-block-a"><div class="ui-bar ui-bar-a" style="height:100px">Iced Doughnut</div></div>
	<div class="ui-block-b"><div class="ui-bar ui-bar-a" style="height:100px"><button id="dnplus6" productname="iced"> + </button><button id="dnmin6"> - </button></div></div>
	<div class="ui-block-c"><div class="ui-bar ui-bar-a" style="height:100px"><input type="text" id = "dqty6" size="2" value="0"/></div></div>
	</div><!-- /grid-b -->
	
		<br>
	<br>
	
	<div class="ui-grid-b">
	<div class="ui-block-a"><div class="ui-bar ui-bar-a" style="height:100px">Fanta</div></div>
	<div class="ui-block-b"><div class="ui-bar ui-bar-a" style="height:100px"><button id="dnplus7" productname="fanta"> + </button><button id="dnmin7"> - </button></div></div>
	<div class="ui-block-c"><div class="ui-bar ui-bar-a" style="height:100px"><input type="text" id = "dqty7" size="2" value="0"/></div></div>
	</div><!-- /grid-b -->
	
	
	<br>
	<br>
	
	
	 <div class="ui-grid-b">
	<div class="ui-block-a"><div class="ui-bar ui-bar-a" style="height:100px">Sprite</div></div>
	<div class="ui-block-b"><div class="ui-bar ui-bar-a" style="height:100px"><button id="dnplus8" productname="sprite"> + </button><button id="dnmin8"> - </button></div></div>
	<div class="ui-block-c"><div class="ui-bar ui-bar-a" style="height:100px"><input type="text" id = "dqty8" size="2" value="0"/></div></div>
	</div><!-- /grid-b -->

	
	<br>
	
	<br>
	
        
        
       <h2> Total cost: </h2> <input type="text"  data-clear-btn="true" id="currentCost" value="0.00"/> 
	   <br>
	   <br>
	   
	   <label for="text-1">Who is this order for:</label>
       <input type="text"  name="text-1" id="namePurchase" value="">
		<br>
		<br>
	   
	   <label for="text-1">Please enter the address you want the donuts delivered to:</label>
       <input type="text"  data-clear-btn="true" name="text-1" id="addressPurchase" value="">

	   
	   	   <button onclick="confirmPurchase()" class="ui-btn">confirm</button>

 	
	{% include 'sample/footer.html'%}
		
	</div><!-- /content -->














<script>
// template for a product

class product {
  constructor(name, price, qty) {
    this.name = name
    this.price = price;
    this.qty = qty;
  }
}

// define our products
cookies = new product("cookies", 3.50, 0);

pizza = new product("pizza", 10.50, 0);

bbq = new product("pizza", 10.50, 0);


chocolate = new product("Chocolate Doughnut", 2, 0);
plain = new product("Plain Ring Doughnut", 2, 0);
lemon = new product("Lemon Doughnut", 2, 0);
sprinkle = new product("Sprinkle Doughnut ", 1, 0);
jam  = new product("Jam Doughnut", 1, 0);
iced = new product("Iced Doughnut", 1, 0);
fanta = new product("Fanta", 1, 0);
sprite = new product("Sprite", 1, 0);


var prod = [];

prod.push(cookies);
prod.push(pizza);





</script>






 </head><body>Add some cookies.. <button id="addProduct1" productname="cookies">Add me</button> 
                    <button id="removeProduct1">No cookies</button>
                    <input type="text" id="cookiesQty">    

                    <p>
                    
Large Pizza         <button id="addProduct2" productname="pizza">Add me</button> 
                    <button id="removeProduct2">Remove</button>
                    <input type="text" id="pizzaQty">    
                    

                    
                    </p><p>
					
			 
                    

                    
                    
                    <button id="viewCart">View Cart</button>

</p><div id="myCart"></div>  



          
<script>

    
$('[id^=dnplus').click(function(){

    var p = $(this).attr('productname'); // find out what was clicked
    
    var arrayLength = prod.length;
    for (var i = 0; i < arrayLength; i++) { // loop over the products
        
        var pro = prod[i] // get one product at a time
        console.log(pro.name);
        
        if(p == pro.name) {
        
            console.log(pro.qty);
            
            pro.qty = pro.qty + 1;
            
              $( "#"+pro.name+"Qty" ).val(pro.qty);

        }
        //Do something
              
        
    }
   
});


$('[id^=removeProduct').click(function(){

   var p = $(this).attr('productname');
});




function checkout(){

var ser = '';

 var arrayLength = prod.length;
    for (var i = 0; i < arrayLength; i++) { // loop over the products
        
        var pro = prod[i] // get one product at a time
        console.log(pro.name);
        console.log(pro.qty);
        
        ser = ser + pro.name + '-' + pro.qty + '=';
        
      //
     }

// jQuery post and send the set.
console.log(ser);
}



</script>
<button onclick="checkout()">Checkout</button></body></html>