{% include 'sample/header.html'%}



<div data-role="footer" data-theme="a" class="sns" style = "background-color: #F5821F";>

		<h4>
COPYRIGHT Ⓒ 2016 BRKOREA COMPANY. ALL RIGHTS RESERVED.</h4>

				<a href="https://www.facebook.com/DunkinKorea/" target="_blank" class="icon_sns facebook">
					 facebook
				</a>
				<a href="http://blog.naver.com/dunkin_kr" target="_blank" class="icon_sns blog">
					 blog
				</a>
				<a href="https://www.instagram.com/dunkindonuts_kr/" target="_blank" class="icon_sns instagram">
					 instagram
				</a>
				<a href="https://twitter.com/dunkindonuts_kr" target="_blank" class="icon_sns twitter">
					 twitter
				</a>
				<a href="https://www.youtube.com/user/dunkindonutskorea" target="_blank" class="icon_sns youtube">
					 youtube
				</a>
				


	</div><!-- /footer -->