
{% include 'sample/header.html'%}

<body>




															<!-- Home Register/login option: #one -->
<div data-role="page" id="one">

	{% include 'sample/headerTitle.html'%}
	
	<head><script src='https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.css' rel='stylesheet' /></head>

	       <div role="main" class="ui-content" data-theme="a" style ="background-color: white; auto;margin-left:auto;margin-right:auto;align:center; text-align:center;";>
	
	                       <h2 data-theme="a">Shop online or find a store near you:</h2>

        
		<div data-theme="a" id='map' style='width: 400px; height: 300px; auto;margin-left:auto;margin-right:auto;align:center;'></div>
		<script>
				mapboxgl.accessToken = 'pk.eyJ1IjoicmljaHluZXkiLCJhIjoiY2s5N3l4cHRpMDF6bjNtazR5YXR5cjJxcSJ9.wGC88Jo1qTVNbeCl0BiijQ';
				var map = new mapboxgl.Map({
				container: 'map',
				style: 'mapbox://styles/mapbox/streets-v11'
				});
	   </script>
	
		<br>

		<h3>Login or register or get the latest donut news:</h3>
		<p><a href="#register" class="ui-btn ui-shadow ui-corner-all">Register</a></p>
		<p><a href="#login" class="ui-btn ui-shadow ui-corner-all">Login</a></p>
		<p><a href="#news" class="ui-btn ui-shadow ui-corner-all">News</a></p>
	</div><!-- /content -->

	{% include 'sample/footer.html'%}	
</div><!-- /page one -->





																																		<!-- News -->
<div data-role="page" id="news" data-theme="a">
{% include 'sample/headerTitle.html'%}
<h1 style="text-align: center;">Stay up-to-date with all the latest doughnut happenings</h1>

<div id="output2" style="text-align: center;">
  
  </div>
  <script>
//The getJSON function allows us to make a call outside of our server out to somewhere else, such as an API
// the In this URL, you will see a value "q" is is the query we are making. In this case, we are looking at bitcon.
// on the far right hand side of this query we are passing the Unique API key that I have for the service, so we
// can tell the server who are are.
  $.getJSON( "https://newsapi.org/v2/everything?q=doughnuts&sortBy=publishedAt&apiKey=ad8a47a0a23247678245956c953a4c07", 
  function( data2 ) {
     // just to see what the response looks like, we will do a console.log which will dump the entire API response to the console.
     console.log(data2);

     // By looking at the structure of the console.log, we can see that in the "data" object that is returned, there are
     // individual "articles". So we will use a loop to go through these articles.
      for(var i=0;i<data2.articles.length; i++)
      {
        
        // For each individual news story that we have, we will take one article title at a time
        // and then append it into the #output div tag at the top of the page.
        var singleTitle = data2.articles[i].title
		var description = data2.articles[i].description
		var singleURL = data2.articles[i].url
		var image = data2.articles[i].urlToImage
        $('#output2').append('<b style="font-size: 20px;">'+singleTitle+'<b>' +'&nbsp;&nbsp;<a href="' + singleURL+ '">Link</a>' + '&nbsp;&nbsp;<img src="' + image + '"height="120" width="120"><br><br><br>')
        
      }  
     
  });
  </script>

		{% include 'sample/footer.html'%}
</div><!-- /News -->





																
<!-- Start of third page: #popup -->
<div data-role="page" id="popup">

	<div data-role="header" data-theme="b">
		<h1>Dialog</h1>
	</div><!-- /header -->

	<div role="main" class="ui-content">
		<h2>Popup</h2>
		<p>I have an id of "popup" on my page container and only look like a dialog because the link to me had a <code>data-rel="dialog"</code> attribute which gives me this inset look and a <code>data-transition="pop"</code> attribute to change the transition to pop. Without this, I'd be styled as a normal page.</p>
		<p><a href="#one" data-rel="back" class="ui-btn ui-shadow ui-corner-all ui-btn-inline ui-icon-back ui-btn-icon-left">Back to page "one"</a></p>
	</div><!-- /content -->
</div><!-- /page popup -->





																<!-- Manager's Dashbaord -->

<div data-role="page" id ="manager" data-theme="a">
{% include 'sample/headerTitle.html'%}

<head>
	<title>Line Chart</title>
	<script src="https://www.chartjs.org/dist/2.8.0/Chart.min.js"></script>
	<script src="https://www.chartjs.org/samples/latest/utils.js"></script>
	<script src=""https://www.chartjs.org/dist/2.9.3/Chart.min.js"></script>
	<style>
	
	canvas{
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;}
		
.inner 
{
    display: inline-block;
	width: 40%;
}
.containernew
{  
    margin: 0px auto;
    width: 90%;
}	
	</style>
</head>

<div class="containernew">
   
   <h1 style="text-align: center;">Business Statistics</h1>

	<div style="width:35%;" class="inner">																			<!-- Graph 1-->
		<canvas id="canvas"></canvas>
	</div>

	
	<script>

		var config1 = {
			type: 'line',
			data: {
				labels: ['Chocolate', 'Plain', 'Lemon', 'Sprinkle', 'Jam', 'Iced', 'Fanta', 'Sprite'],
				datasets: [{
					label: 'Sales',
					backgroundColor: window.chartColors.red,
					borderColor: window.chartColors.red,
					data: [200, 50, 30, 90, 80,50,40,150],
					fill: false,
				}]
			},
			options: {
				responsive: true,
				title: {
					display: true,
					text: 'Profits per product'
				},
				tooltips: {
					mode: 'index',
					intersect: false,
				},
				hover: {
					mode: 'nearest',
					intersect: true
				},
				scales: {
					xAxes: [{
						display: true,
						scaleLabel: {
							display: true,
							labelString: 'Products'
						}
					}],
					yAxes: [{
						display: true,
						scaleLabel: {
							display: true,
							labelString: 'Earnings'
						}
					}]
				}
			}
		};

   
		
	</script>

	<div class="inner" style="float: right";>

		<div id="canvas-holder" >
			<canvas id="chart-area"></canvas>																					<!-- Graph 2-->
		</div>
		
	<script>
		var randomScalingFactor = function() {
			return Math.round(Math.random() * 100);
		};

		var config2= {
			type: 'pie',
			data: {
				datasets: [{
					data: [
						randomScalingFactor(),
						randomScalingFactor(),
						randomScalingFactor(),
						randomScalingFactor(),
						randomScalingFactor(),
					],
					backgroundColor: [
						window.chartColors.red,
						window.chartColors.orange,
						window.chartColors.yellow,
						window.chartColors.green,
						window.chartColors.blue,
					],
					label: 'Weekly Sales'
				}],
				labels: [
					'Soft drinks',
					'Doughnuts',
					'Chocolates',
					'Coffee',
					'Tea'
				]
			},
			options: {
				responsive: true
			}
		};


		document.getElementById('randomizeData').addEventListener('click', function() {
			config2.data.datasets.forEach(function(dataset) {
				dataset.data = dataset.data.map(function() {
					return randomScalingFactor();
				});
			});

			window.myPie.update();
		});

		var colorNames = Object.keys(window.chartColors);
		document.getElementById('addDataset').addEventListener('click', function() {
			var newDataset = {
				backgroundColor: [],
				data: [],
				label: 'New dataset ' + config2.data.datasets.length,
			};

			for (var index = 0; index < config2.data.labels.length; ++index) {
				newDataset.data.push(randomScalingFactor());

				var colorName = colorNames[index % colorNames.length];
				var newColor = window.chartColors[colorName];
				newDataset.backgroundColor.push(newColor);
			}

			config2.data.datasets.push(newDataset);
			window.myPie.update();
		});

		document.getElementById('removeDataset').addEventListener('click', function() {
			config2.data.datasets.splice(0, 1);
			window.myPie.update();
		});
	</script>
	
	</div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div class="containernew">
   

	<div class="inner" style="width: 35%;">
		<canvas id="canvas3"></canvas>																							<!-- Graph 3-->
	
		
	</div>
	<script>
		var MONTHS = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
		var color = Chart.helpers.color;
		var horizontalBarChartData = {
			labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
			datasets: [{
				label: 'Dataset 1',
				backgroundColor: color(window.chartColors.red).alpha(0.5).rgbString(),
				borderColor: window.chartColors.red,
				borderWidth: 1,
				data: [
					randomScalingFactor(),
					randomScalingFactor(),
					randomScalingFactor(),
					randomScalingFactor(),
					randomScalingFactor(),
					randomScalingFactor(),
					randomScalingFactor()
				]
			}, {
				label: 'Dataset 2',
				backgroundColor: color(window.chartColors.blue).alpha(0.5).rgbString(),
				borderColor: window.chartColors.blue,
				data: [
					randomScalingFactor(),
					randomScalingFactor(),
					randomScalingFactor(),
					randomScalingFactor(),
					randomScalingFactor(),
					randomScalingFactor(),
					randomScalingFactor()
				]
			}]

		};




	     // making the chart
		window.onload = function() {
			var ctx1 = document.getElementById('canvas').getContext('2d');
			window.myLine = new Chart(ctx1, config1); 
			var ctx2 = document.getElementById('chart-area').getContext('2d');
			window.myPie = new Chart(ctx2, config2);// brings it all together.
	
			var ctx3 = document.getElementById('canvas3').getContext('2d');
			window.myHorizontalBar = new Chart(ctx3, {
				type: 'horizontalBar',
				data: horizontalBarChartData,
				options: {
					// Elements options apply to all of the options unless overridden in a dataset
					// In this case, we are setting the border of each horizontal bar to be 2px wide
					elements: {
						rectangle: {
							borderWidth: 2,
						}
					},
					responsive: true,
					legend: {
						position: 'right',
					},
					title: {
						display: true,
						text: 'Monthly Sales'
					}
				}
			});
			
						var ctx4 = document.getElementById('canvas4').getContext('2d');
			window.myBar = new Chart(ctx4, {
				type: 'bar',
				data: barChartData,
				options: {
					title: {
						display: true,
						text: 'Last 12 Months'
					},
					tooltips: {
						mode: 'index',
						intersect: false
					},
					responsive: true,
					scales: {
						xAxes: [{
							stacked: true,
						}],
						yAxes: [{
							stacked: true
						}]
					}
				}
			});

		};
		
		
				

		












		document.getElementById('randomizeData').addEventListener('click', function() {
			var zero = Math.random() < 0.2 ? true : false;
			horizontalBarChartData.datasets.forEach(function(dataset) {
				dataset.data = dataset.data.map(function() {
					return zero ? 0.0 : randomScalingFactor();
				});

			});
			window.myHorizontalBar.update();
		});

		var colorNames = Object.keys(window.chartColors);

		document.getElementById('addDataset').addEventListener('click', function() {
			var colorName = colorNames[horizontalBarChartData.datasets.length % colorNames.length];
			var dsColor = window.chartColors[colorName];
			var newDataset = {
				label: 'Dataset ' + (horizontalBarChartData.datasets.length + 1),
				backgroundColor: color(dsColor).alpha(0.5).rgbString(),
				borderColor: dsColor,
				data: []
			};

			for (var index = 0; index < horizontalBarChartData.labels.length; ++index) {
				newDataset.data.push(randomScalingFactor());
			}

			horizontalBarChartData.datasets.push(newDataset);
			window.myHorizontalBar.update();
		});

		document.getElementById('addData').addEventListener('click', function() {
			if (horizontalBarChartData.datasets.length > 0) {
				var month = MONTHS[horizontalBarChartData.labels.length % MONTHS.length];
				horizontalBarChartData.labels.push(month);

				for (var index = 0; index < horizontalBarChartData.datasets.length; ++index) {
					horizontalBarChartData.datasets[index].data.push(randomScalingFactor());
				}

				window.myHorizontalBar.update();
			}
		});

		document.getElementById('removeDataset').addEventListener('click', function() {
			horizontalBarChartData.datasets.pop();
			window.myHorizontalBar.update();
		});

		document.getElementById('removeData').addEventListener('click', function() {
			horizontalBarChartData.labels.splice(-1, 1); // remove the label first

			horizontalBarChartData.datasets.forEach(function(dataset) {
				dataset.data.pop();
			});

			window.myHorizontalBar.update();
		});
	</script>



<div class="inner" style="float: right"; style="width: 35%">

	<div>
		<canvas id="canvas4"></canvas>																							<!-- Graph 4-->
	</div>
	<button id="randomizeData">Randomize Data</button>
	<script>
		var barChartData = {
			labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
			datasets: [{
				label: 'Dougnuts',
				backgroundColor: window.chartColors.red,
				data: [
					randomScalingFactor(),
					randomScalingFactor(),
					randomScalingFactor(),
					randomScalingFactor(),
					randomScalingFactor(),
					randomScalingFactor(),
					randomScalingFactor()
				]
			}, {
				label: 'Drinks',
				backgroundColor: window.chartColors.blue,
				data: [
					randomScalingFactor(),
					randomScalingFactor(),
					randomScalingFactor(),
					randomScalingFactor(),
					randomScalingFactor(),
					randomScalingFactor(),
					randomScalingFactor()
				]
			}, {
				label: 'Other',
				backgroundColor: window.chartColors.green,
				data: [
					randomScalingFactor(),
					randomScalingFactor(),
					randomScalingFactor(),
					randomScalingFactor(),
					randomScalingFactor(),
					randomScalingFactor(),
					randomScalingFactor()
				]
			}]

		};


		document.getElementById('randomizeData').addEventListener('click', function() {
			barChartData.datasets.forEach(function(dataset) {
				dataset.data = dataset.data.map(function() {
					return randomScalingFactor();
				});
			});
			window.myBar.update();
		});
	</script>
	

</div>


<br>
<br>
<br>
<br>
<br>
<br>
<br>




<div class="containernew">
<h1 style="text-align: center;">Orderes and Option to Delete:</h1>	
	<div class="inner">
		<div id="listOfProducts">  																							<!--Products table returned-->
		</div>
	</div>	
	
	<div class="inner">
		<h1 style="text-align: center;">Enter the name of the person whose order you wish to delete:</h1>							<!--Delete an order-->
		<form>
    		<label for="Delete order by name:">Enter name of person you want to delete:</label>
    		<input type="search" name="search-1" id="searchDelete" value="Enter name">
		</form>
	
		<a class="ui-btn ui-btn-inline ui-icon-delete ui-btn-icon-left" onclick="deleteData()">Delete</a>
	</div>
</div>

		
</div>
{% include 'sample/footer.html'%}	
</div>

<script>  
        function deleteData(){				    																		//Delete Customer

        // getting the values from the fields        
        var customerName = $('#searchDelete').val();
		
         // passing it to the catchTheData page for verification  
        $.post( "/deleteCustomer", { type: "deleteUser", cn: customerName, })
              .done(function( data ) { //Any data that is returened from the 
                alert( "Success:" + data );
				  // based on the user acc type
                 // send the user to that dash board
				 window.location="/register#managerUpdateSuccess"
				 window.location.href = "/register#manager";
              });
       }        
</script>





																				<!-- Drivers' Dashbaord -->

<div data-role="page" id ="driver" data-theme="a">
{% include 'sample/headerTitle.html'%}
    	<div data-role="header">
			<h1>Driver Information</h1>
		</div><!--/header -->
		
		
<div class="containernew">


	<div id="listOfProducts2" class="inner">  										<!--Products table returned-->

	</div>

  
  <script>

        function changeStatus(){				    																		//Change Status

        // getting the values from the fields        
        var statusRefNum = $('#changeStatus').val();
		console.log(statusRefNum);
		
         // passing it to the catchTheData page for verification  
        $.post( "/updateStatus", { type: "deleteUser", srn: statusRefNum, })
              .done(function( data ) { //Any data that is returened from the 
                alert( "Success:" + data );
				  // based on the user acc type
                 // send the user to that dash board
              window.location="/register#driverUpdateSuccess"
			  window.location.href = "/register#driver";
              });
       }     

  
    

  
  $.post( "/getorders2", {})																				//Drivers Orders List 
  .done(function( data ) {
  $('#listOfProducts2').html(data);
  });
  
    $.post( "/getorders", {})																				//Managers Orders List 
  .done(function( data ) {
  $('#listOfProducts').html(data);
  });
  
  
  </script>
		
	<div class="inner" >  

		<div role="main" class="ui-content"  style ="background-color: white; auto;margin-left:auto;margin-right:auto;align:center; text-align:center; position:absolute; top:300px; right:200px;">          <!--Weather App-->
		
			<div id="output"></div>
			<script>
			$.getJSON( "http://api.weatherstack.com/current?access_key=654bda0365e92276c315377dea99084b&query=Dublin", function( data ) {
			console.log(data);
			console.log(data.current.temperature);
			var info ='<p>The current temperature is:</p>'+data.current.temperature+'°C <br><p>This is what it looks like outside:</p><img src="' + data.current.weather_icons + '"height="300" width="300">';
			$('#output').html(info);
			});
			</script>
		</div>
		
		<div style="position:relative; left:120px;">
		
			<h1 style="text-align: center;">Enter the reference number of the order you wish to change the status on:</h1>			<!--Status Update-->				
			<form>
    			<label for="Delete order by name:">Change status on reference number::</label>
    			<input type="search" name="search-1" id="changeStatus" value="">
			</form>
	
			<button class="ui-btn ui-btn-inline" onclick="changeStatus()">Change Status</a>	
		</div>
		
	</div>
</div>
{% include 'sample/footer.html'%}	
</div>


																<!-- Register Page -->
<div data-role="page" id="register" data-theme="a">
{% include 'sample/headerTitle.html'%}

	<div data-role="header">
		<h1>Register</h1>
	</div><!-- /header -->

		<div role="main" class="ui-content">
		<h2>Two</h2>
        
       Username <input type="text" name="username" id="unr" value="">
       Password <input type="text" name="pass" id="pwr" value="">
	   <label for="select-native-1">Please select your account type:</label>
    		<select name="select-native-1" id="accTypeSelect">
        		<option value="Customer">Customer</option>
        		<option value="Manager">Manager</option>
        		<option value="Driver">Driver</option>
    	</select>
<br>
		<button class="ui-btn" onclick="postData()">Submit</button>
		</div><!-- /content -->
		{% include 'sample/footer.html'%}	
</div>




													                 <!-- Login Page -->
<div data-role="page" id="login" data-theme="a">

 {% include 'sample/headerTitle.html'%}
<div data-role="header">
		<h1>Login page</h1>
	</div><!-- /header -->

<div role="main" class="ui-content">
		<h2> Login</h2>
		
        
        <input type="text" id="unl"></input>
        <input type="text" id="pwl"></input>
           
       
		<button onclick="check()" class="ui-btn">Login</button>
        
	</div><!-- /content -->
	{% include 'sample/footer.html'%}	
</div>






        <script>                                                      //Register the user
        function postData(){

        // getting the values from the fields        
        var username = $('#unr').val();
        var password = $('#pwr').val();
		var accType = $('#accTypeSelect').val()
        
        // validation
        if(username == ""){
           alert("please enter a username");
        } else {
        
        
            console.log(username);
            console.log(password);
			console.log(accType);
				
            
            $.post( "/catchTheData", { type: "ruser", un: username, pw: password, accT: accType})
                  .done(function( data ) {
                    alert( "Success: " + data );
					window.location="/register#login"
                  });
                  
       }        

       }        
       
	      
	   
        function check(){											//Login user

        // getting the values from the fields        
        var username = $('#unl').val();
		var password = $('#pwl').val();
		
         // passing it to the catchTheData page for verification  
        $.post( "/catchTheData", { type: "loginuser", un: username, pw: password, })
              .done(function( data ) { //Any data that is returened from the /catchTheData in the backend is stored in the 'data' variable
                alert( "Information: " + data );
				  // based on the user acc type
                 // send the user to that dash board
                if(data == 'Customer'){
                   window.location="/register#customerpage"
                }
                else if(data == 'Manager')
                {
                    window.location="register#manager"
                }
			      else if(data == 'Driver')
                {
                    window.location="/register#driver"
                }
              });
       }        
        </script>











													<!-- Driver's Status update successful -->
<div data-role="page" id="driverUpdateSuccess" data-theme="a">
{% include 'sample/headerTitle.html'%}
<h1 style="text-align: center;">The Order Status has been successfuly updated</h1>

<div id="profits"> </div>
<div id="weekly"> </div>
<div id="monthly"> </div>




 <script>
    $.post( "/getProfits", {})																				//Profits List For graph 
  .done(function( dataP ){
  $('#profits').html(dataP);
  });
  
        $.post( "/getSalesW", {})																				//Weekly List For graph 
  .done(function( dataW ) {
  $('#weekly').html(dataW);
  });
  
      $.post( "/getSalesM", {})																				//Monthly List For graph 
  .done(function( dataM ) {
  $('#monthly').html(dataM);
  });

  
  
  </script>



		{% include 'sample/footer.html'%}
</div>


													<!-- Manager's Status update successful -->
<div data-role="page" id="managerUpdateSuccess" data-theme="a">
{% include 'sample/headerTitle.html'%}
<h1 style="text-align: center;">The Order Status has been successfuly deleted</h1>



		{% include 'sample/footer.html'%}
</div>

																			<!-- Test Page -->
<div data-role="page" id="test" data-theme="a">
{% include 'sample/headerTitle.html'%}
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>QUnit Example</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

  <link rel="stylesheet" href="https://code.jquery.com/qunit/qunit-2.10.0.css">
</head>
<body>
  <div id="qunit"></div>
  <div id="qunit-fixture"></div>
  <script src="https://code.jquery.com/qunit/qunit-2.10.0.js"></script>

</body>



																			<!-- Test Page JS-->
<script>
QUnit.test( "Cleint Tests", function( assert ) {


  

  
    var nameCheck = $('#unr').val();
    var passCheck = $('#pwr').val();
	var deleteMCheck = $('#searchDelete').val();
  
  
  var dropValue = $('#accTypeSelect').val();
  
  assert.equal( nameCheck, "", "Register Name Ok!" );
  assert.equal(passCheck , "", "Register Password Ok!" );
  assert.equal(deleteMCheck , "Enter name", "Manager Delete Ok!" );
  assert.equal(dropValue, "Customer", "Passed!" )
  
  
  
});

</script></body></html>



		{% include 'sample/footer.html'%}
</div>




























														                 <!-- Customer Page -->
																		 
<div data-role="page" id="customerpage" data-theme="a">
{% include 'sample/headerTitle.html'%}
<div data-role="header">
		<h1>Customer page</h1>
	</div><!-- /header -->

<div role="main" class="ui-content">
	
		
        
    <div class="ui-grid-b">
	<div class="ui-block-a"><div class="ui-bar ui-bar-a" style="height:100px">Chocolate Doughnut</div></div>
	<div class="ui-block-b"><div class="ui-bar ui-bar-a" style="height:100px"><button id="dn1plus"> + </button><button id="dn1min"> - </button></div></div>
	<div class="ui-block-c"><div class="ui-bar ui-bar-a" style="height:100px"><input type="text" id = "d1qty" size="2" value="0"/></div></div>
	</div><!-- /grid-b -->

	
	<br>
	<br>
	
	<div class="ui-grid-b">
	<div class="ui-block-a"><div class="ui-bar ui-bar-a" style="height:100px">Plain Ring Doughnut</div></div>
	<div class="ui-block-b"><div class="ui-bar ui-bar-a" style="height:100px"><button id="dn2plus"> + </button><button id="dnmin"> - </button></div></div>
	<div class="ui-block-c"><div class="ui-bar ui-bar-a" style="height:100px"><input type="text" id = "d2qty" size="2" value="0"/></div></div>
	</div><!-- /grid-b -->
	
	
	<br>
	<br>
	
	
	 <div class="ui-grid-b">
	<div class="ui-block-a"><div class="ui-bar ui-bar-a" style="height:100px">Lemon Doughnut</div></div>
	<div class="ui-block-b"><div class="ui-bar ui-bar-a" style="height:100px"><button id="dn3plus"> + </button><button id="dn1min"> - </button></div></div>
	<div class="ui-block-c"><div class="ui-bar ui-bar-a" style="height:100px"><input type="text" id = "d3qty" size="2" value="0"/></div></div>
	</div><!-- /grid-b -->

	
	<br>
	<br>
	
	    <div class="ui-grid-b">
	<div class="ui-block-a"><div class="ui-bar ui-bar-a" style="height:100px">Sprinkle Doughnut</div></div>
	<div class="ui-block-b"><div class="ui-bar ui-bar-a" style="height:100px"><button id="dn4plus"> + </button><button id="dn1min"> - </button></div></div>
	<div class="ui-block-c"><div class="ui-bar ui-bar-a" style="height:100px"><input type="text" id = "d4qty" size="2" value="0"/></div></div>
	</div><!-- /grid-b -->

	
	<br>
	<br>
	
	<div class="ui-grid-b">
	<div class="ui-block-a"><div class="ui-bar ui-bar-a" style="height:100px">Jam Doughnut</div></div>
	<div class="ui-block-b"><div class="ui-bar ui-bar-a" style="height:100px"><button id="dn5plus"> + </button><button id="dnmin"> - </button></div></div>
	<div class="ui-block-c"><div class="ui-bar ui-bar-a" style="height:100px"><input type="text" id = "d5qty" size="2" value="0"/></div></div>
	</div><!-- /grid-b -->
	
	
	<br>
	<br>
	
	
	 <div class="ui-grid-b">
	<div class="ui-block-a"><div class="ui-bar ui-bar-a" style="height:100px">Iced Doughnut</div></div>
	<div class="ui-block-b"><div class="ui-bar ui-bar-a" style="height:100px"><button id="dn6plus"> + </button><button id="dn1min"> - </button></div></div>
	<div class="ui-block-c"><div class="ui-bar ui-bar-a" style="height:100px"><input type="text" id = "d6qty" size="2" value="0"/></div></div>
	</div><!-- /grid-b -->
	
		<br>
	<br>
	
	<div class="ui-grid-b">
	<div class="ui-block-a"><div class="ui-bar ui-bar-a" style="height:100px">Fanta</div></div>
	<div class="ui-block-b"><div class="ui-bar ui-bar-a" style="height:100px"><button id="dn7plus"> + </button><button id="dnmin"> - </button></div></div>
	<div class="ui-block-c"><div class="ui-bar ui-bar-a" style="height:100px"><input type="text" id = "d7qty" size="2" value="0"/></div></div>
	</div><!-- /grid-b -->
	
	
	<br>
	<br>
	
	
	 <div class="ui-grid-b">
	<div class="ui-block-a"><div class="ui-bar ui-bar-a" style="height:100px">Sprite</div></div>
	<div class="ui-block-b"><div class="ui-bar ui-bar-a" style="height:100px"><button id="dn8plus"> + </button><button id="dn1min"> - </button></div></div>
	<div class="ui-block-c"><div class="ui-bar ui-bar-a" style="height:100px"><input type="text" id = "d8qty" size="2" value="0"/></div></div>
	</div><!-- /grid-b -->

	
	<br>
	
	<br>
	
        
        
       <h2> Total cost: </h2> <input type="text"  data-clear-btn="true" id="currentCost" value="0.00"/> 
	   <br>
	   <br>
	   
	   <label for="text-1">Who is this order for:</label>
       <input type="text"  name="text-1" id="namePurchase" value="">
		<br>
		<br>
	   
	   <label for="text-1">Please enter the address you want the donuts delivered to:</label>
       <input type="text"  data-clear-btn="true" name="text-1" id="addressPurchase" value="">

	   
	   	   <button onclick="confirmPurchase()" class="ui-btn">confirm</button>

 	
	{% include 'sample/footer.html'%}
		
	</div><!-- /content -->
	
<script>           
function confirmPurchase(){                                          //Send data to the DB 
			   
			   // getting the values from the fields        
        var sendcost = $('#currentCost').val();
		var sendadd = $('#addressPurchase').val();
		var sendname = $('#namePurchase').val();
     
        console.log(sendcost);		
            
      $.post( "/processOrder", { type: "processorder", oc: sendcost, sa: sendadd, sn: sendname})
                  .done(function( data ) {
                    alert( "Success: " + data );
					
                  });      
					window.location="/register#login"				  
       }        
       
	   </script>

</div>

 



<script>
                                                                       // update the total price

function updatePriceTotal(){

    var count1 = $('#d1qty').val();
    var count2 = $('#d2qty').val();
	var count3 = $('#d3qty').val();
	var count4 = $('#d4qty').val();
    var count5 = $('#d5qty').val();
	var count6 = $('#d6qty').val();
	var count7 = $('#d7qty').val();
	var count8 = $('#d8qty').val();
    
    var type1Cost = 2.00; // cost for two euro things
	var type2Cost = 1.00; // cost for one euro things
    
	
    var totalCost2Euro = (parseInt(count1) + parseInt(count2) + parseInt(count3)) * parseInt(type1Cost);
    var totalCost1Euro = (parseInt(count4) + parseInt(count5) + parseInt(count6) + parseInt(count7) + parseInt(count8)) * parseInt(type2Cost);
    
	var totalCost = parseInt(totalCost2Euro) + parseInt(totalCost1Euro);
    //set the total cost into the total box
     
     $('#currentCost').val(totalCost + '.00');
	 
     
}


$( "#dn1plus" ).click(function() {
  
  
      var count = $('#d1qty').val();
      count = parseInt(count) + 1;// adding one on
      
      // set the value back into the box
      $('#d1qty').val(count);
      
       updatePriceTotal();
  
});

$( "#dn1min" ).click(function() {
  
  
      var count = $('#d1qty').val();  // get the value
      count = parseInt(count) - 1;// adding one on
      
      // set the value back into the box
      $('#d1qty').val(count);
 
       updatePriceTotal();
	   
  
});

////////////////////////////////////////////////////


$( "#dn2plus" ).click(function() {
  
  
      var count = $('#d2qty').val();
      count = parseInt(count) + 1;// adding one on
      
      // set the value back into the box
      $('#d2qty').val(count);
      
       updatePriceTotal();
  
});

$( "#dn2min" ).click(function() {
  
  
      var count = $('#d2qty').val();  // get the value
      count = parseInt(count) - 1;// adding one on
      
      // set the value back into the box
      $('#d2qty').val(count);
 
       updatePriceTotal();
  
});

////////////////////////////////////////////////////


$( "#dn3plus" ).click(function() {
  
  
      var count = $('#d3qty').val();
      count = parseInt(count) + 1;// adding one on
      
      // set the value back into the box
      $('#d3qty').val(count);
      
       updatePriceTotal();
  
});

$( "#dn3min" ).click(function() {
  
  
      var count = $('#d3qty').val();  // get the value
      count = parseInt(count) - 1;// adding one on
      
      // set the value back into the box
      $('#d3qty').val(count);
 
       updatePriceTotal();
  
});

/////////////////////////////////////
$( "#dn4plus" ).click(function() {
  
  
      var count = $('#d4qty').val();
      count = parseInt(count) + 1;// adding one on
      
      // set the value back into the box
      $('#d4qty').val(count);
      
       updatePriceTotal();
  
});

$( "#dn4min" ).click(function() {
  
  
      var count = $('#d4qty').val();  // get the value
      count = parseInt(count) - 1;// adding one on
      
      // set the value back into the box
      $('#d4qty').val(count);
 
       updatePriceTotal();
	   
  
});

////////////////////////////////////////////////////


$( "#dn5plus" ).click(function() {
  
  
      var count = $('#d5qty').val();
      count = parseInt(count) + 1;// adding one on
      
      // set the value back into the box
      $('#d5qty').val(count);
      
       updatePriceTotal();
  
});

$( "#dn5min" ).click(function() {
  
  
      var count = $('#d5qty').val();  // get the value
      count = parseInt(count) - 1;// adding one on
      
      // set the value back into the box
      $('#d5qty').val(count);
 
       updatePriceTotal();
  
});

////////////////////////////////////////////////////


$( "#dn6plus" ).click(function() {
  
  
      var count = $('#d6qty').val();
      count = parseInt(count) + 1;// adding one on
      
      // set the value back into the box
      $('#d6qty').val(count);
      
       updatePriceTotal();
  
});

$( "#dn6min" ).click(function() {
  
  
      var count = $('#d6qty').val();  // get the value
      count = parseInt(count) - 1;// adding one on
      
      // set the value back into the box
      $('#d6qty').val(count);
 
       updatePriceTotal();
  
});


////////////////////////////////////////////////////


$( "#dn7plus" ).click(function() {
  
  
      var count = $('#d7qty').val();
      count = parseInt(count) + 1;// adding one on
      
      // set the value back into the box
      $('#d7qty').val(count);
      
       updatePriceTotal();
  
});

$( "#dn7min" ).click(function() {
  
  
      var count = $('#d7qty').val();  // get the value
      count = parseInt(count) - 1;// adding one on
      
      // set the value back into the box
      $('#d7qty').val(count);
 
       updatePriceTotal();
  
});

////////////////////////////////////////////////////


$( "#dn8plus" ).click(function() {
  
  
      var count = $('#d8qty').val();
      count = parseInt(count) + 1;// adding one on
      
      // set the value back into the box
      $('#d8qty').val(count);
      
       updatePriceTotal();
  
});

$( "#dn8min" ).click(function() {
  
  
      var count = $('#d8qty').val();  // get the value
      count = parseInt(count) - 1;// adding one on
      
      // set the value back into the box
      $('#d8qty').val(count);
 
       updatePriceTotal();
  
});

</script>
															






<div data-role="page" id="order" data-theme="a">

<div data-role="header">
		<h1>Order</h1>
	</div><!-- /header -->

<div role="main" class="ui-content">
		<h2>Order</h2>
        

        order here
        
        address:
             <input type="text" name="address" id="address" value="">

        <button id="placeorder" class="ui-btn">Button</button>
        
        
        <script>
        $( "#placeorder" ).click(function() {
          
          var add = $("#address").val();
          
          alert(add);
          
          
          $.post( "/putInSession", { address: add })
              .done(function( data ) {
                alert( "Data Loaded: " + data );
              });
        });
        </script>
        
        
	</div><!-- /content -->

</div>

	


		

     
    
</div>


</body>
</html>
