
{% include 'sample/header.html'%}

<body>




													<!-- Home Register/login option: #one -->
<div data-role="page" id="one">

	{% include 'sample/headerTitle.html'%}

	<div role="main" class="ui-content" style ="background-color: white";>
		<h2>Welcome!</h2>

		<br>
        Welcome to the application, login or register.

		<h3>Show internal pages:</h3>
		<p><a href="#register" class="ui-btn ui-shadow ui-corner-all">Register</a></p>
		<p><a href="#login" class="ui-btn ui-shadow ui-corner-all">Login</a></p>

	</div><!-- /content -->

	{% include 'sample/footer.html'%}	
</div><!-- /page one -->





<!-- Start of second page: #two -->
<div data-role="page" id="two" data-theme="a">
	<div data-role="header">
		<h1>Two</h1>
	</div><!-- /header -->

	<div role="main" class="ui-content">
		<h2>Two</h2>
		<p>I have an id of "two" on my page container. I'm the second page container in this multi-page template.</p>
		<p>Notice that the theme is different for this page because we've added a few <code>data-theme</code> swatch assigments here to show off how flexible it is. You can add any content or widget to these pages, but we're keeping these simple.</p>
		<p><a href="#one" data-direction="reverse" class="ui-btn ui-shadow ui-corner-all ui-btn-b">Back to page "one"</a></p>

	</div><!-- /content -->

		{% include 'sample/footer.html'%}
</div><!-- /page two -->






<!-- Start of third page: #popup -->
<div data-role="page" id="popup">

	<div data-role="header" data-theme="b">
		<h1>Dialog</h1>
	</div><!-- /header -->

	<div role="main" class="ui-content">
		<h2>Popup</h2>
		<p>I have an id of "popup" on my page container and only look like a dialog because the link to me had a <code>data-rel="dialog"</code> attribute which gives me this inset look and a <code>data-transition="pop"</code> attribute to change the transition to pop. Without this, I'd be styled as a normal page.</p>
		<p><a href="#one" data-rel="back" class="ui-btn ui-shadow ui-corner-all ui-btn-inline ui-icon-back ui-btn-icon-left">Back to page "one"</a></p>
	</div><!-- /content -->
</div><!-- /page popup -->





													   <!-- Manager's Dashbaord -->

<div data-role="page" id ="manager" data-theme="a">
    	<div data-role="header">
			<h1>Manager</h1>
		</div><!--/header -->
		
		<div role="main" class="ui-content">
		
			<p> some stuff here </p>
		
		</div><!-- /content -->
</div>





														<!-- Drivers' Dashbaord -->

<div data-role="page" id ="driver" data-theme="a">
    	<div data-role="header">
			<h1>Driver</h1>
		</div><!--/header -->
		
		<div role="main" class="ui-content">
		
			<p> some other stuff here </p>
		
		</div><!-- /content -->
</div>


															 <!-- Register Page -->
<div data-role="page" id="register" data-theme="a">

	<div data-role="header">
		<h1>Register</h1>
	</div><!-- /header -->

		<div role="main" class="ui-content">
		<h2>Two</h2>
        
       Username <input type="text" name="username" id="username" value="">
       Password <input type="text" name="pass" id="pass" value="">
		<button class="ui-btn">Submit</button>
		<p>I have an id of "two" on my page container. I'm the second page container in this multi-page template.</p>
		<p>Notice that the theme is different for this page because we've added a few <code>data-theme</code> swatch assigments here to show off how flexible it is. You can add any content or widget to these pages, but we're keeping these simple.</p>
		<p><a href="#one" data-direction="reverse" class="ui-btn ui-shadow ui-corner-all ui-btn-b">Back to page "one"</a></p>

		</div><!-- /content -->
</div>




													      <!-- Login Page -->
<div data-role="page" id="login" data-theme="a">

 {% include 'sample/headerTitle.html'%}
<div data-role="header">
		<h1>Login page</h1>
	</div><!-- /header -->

<div role="main" class="ui-content">
		<h2>  Login</h2>
		
        
        <input type="text" id="loginUsername"></input>
        <input type="text" id="loginPassword"></input>
           
        <button id="loginbutton" class="ui-btn">Login</button>
        
	</div><!-- /content -->
</div>




<script>																		
$( "#loginbutton" ).click(function() {
  
  
  alert( "Handler for .click() called." );
   $.mobile.changePage('#customerpage', {
            changeHash: true,
            dataUrl: "customerpage",             //the url fragment that will be displayed for the test.html page
            transition: "slide"                  //if not specified used the default one or the one defined in the default settings
        });
});
</script>



														      <!-- Customer Page -->
<div data-role="page" id="customerpage" data-theme="a">
<div data-role="header">
		<h1>Customer page</h1>
	</div><!-- /header -->

<div role="main" class="ui-content">
	
		
        
    <div class="ui-grid-b">
	<div class="ui-block-a"><div class="ui-bar ui-bar-a" style="height:100px">Chocolate Doughnut</div></div>
	<div class="ui-block-b"><div class="ui-bar ui-bar-a" style="height:100px"><button id="dn1plus"> + </button><button id="dn1min"> - </button></div></div>
	<div class="ui-block-c"><div class="ui-bar ui-bar-a" style="height:100px"><input type="text" id = "d1qty" size="2" value="0"/></div></div>
	</div><!-- /grid-b -->

	
	<br>
	<br>
	
	<div class="ui-grid-b">
	<div class="ui-block-a"><div class="ui-bar ui-bar-a" style="height:100px">Plain Ring Doughnut</div></div>
	<div class="ui-block-b"><div class="ui-bar ui-bar-a" style="height:100px"><button id="dn2plus"> + </button><button id="dnmin"> - </button></div></div>
	<div class="ui-block-c"><div class="ui-bar ui-bar-a" style="height:100px"><input type="text" id = "d2qty" size="2" value="0"/></div></div>
	</div><!-- /grid-b -->
	
	
	<br>
	<br>
	
	
	 <div class="ui-grid-b">
	<div class="ui-block-a"><div class="ui-bar ui-bar-a" style="height:100px">Lemon Doughnut</div></div>
	<div class="ui-block-b"><div class="ui-bar ui-bar-a" style="height:100px"><button id="dn3plus"> + </button><button id="dn1min"> - </button></div></div>
	<div class="ui-block-c"><div class="ui-bar ui-bar-a" style="height:100px"><input type="text" id = "d3qty" size="2" value="0"/></div></div>
	</div><!-- /grid-b -->

	
	<br>
	<br>
	
	    <div class="ui-grid-b">
	<div class="ui-block-a"><div class="ui-bar ui-bar-a" style="height:100px">Sprinkle Doughnut</div></div>
	<div class="ui-block-b"><div class="ui-bar ui-bar-a" style="height:100px"><button id="dn4plus"> + </button><button id="dn1min"> - </button></div></div>
	<div class="ui-block-c"><div class="ui-bar ui-bar-a" style="height:100px"><input type="text" id = "d4qty" size="2" value="0"/></div></div>
	</div><!-- /grid-b -->

	
	<br>
	<br>
	
	<div class="ui-grid-b">
	<div class="ui-block-a"><div class="ui-bar ui-bar-a" style="height:100px">Jam Doughnut</div></div>
	<div class="ui-block-b"><div class="ui-bar ui-bar-a" style="height:100px"><button id="dn5plus"> + </button><button id="dnmin"> - </button></div></div>
	<div class="ui-block-c"><div class="ui-bar ui-bar-a" style="height:100px"><input type="text" id = "d5qty" size="2" value="0"/></div></div>
	</div><!-- /grid-b -->
	
	
	<br>
	<br>
	
	
	 <div class="ui-grid-b">
	<div class="ui-block-a"><div class="ui-bar ui-bar-a" style="height:100px">Iced Doughnut</div></div>
	<div class="ui-block-b"><div class="ui-bar ui-bar-a" style="height:100px"><button id="dn6plus"> + </button><button id="dn1min"> - </button></div></div>
	<div class="ui-block-c"><div class="ui-bar ui-bar-a" style="height:100px"><input type="text" id = "d6qty" size="2" value="0"/></div></div>
	</div><!-- /grid-b -->
	
		<br>
	<br>
	
	<div class="ui-grid-b">
	<div class="ui-block-a"><div class="ui-bar ui-bar-a" style="height:100px">Fanta</div></div>
	<div class="ui-block-b"><div class="ui-bar ui-bar-a" style="height:100px"><button id="dn7plus"> + </button><button id="dnmin"> - </button></div></div>
	<div class="ui-block-c"><div class="ui-bar ui-bar-a" style="height:100px"><input type="text" id = "d7qty" size="2" value="0"/></div></div>
	</div><!-- /grid-b -->
	
	
	<br>
	<br>
	
	
	 <div class="ui-grid-b">
	<div class="ui-block-a"><div class="ui-bar ui-bar-a" style="height:100px">Sprite</div></div>
	<div class="ui-block-b"><div class="ui-bar ui-bar-a" style="height:100px"><button id="dn8plus"> + </button><button id="dn1min"> - </button></div></div>
	<div class="ui-block-c"><div class="ui-bar ui-bar-a" style="height:100px"><input type="text" id = "d8qty" size="2" value="0"/></div></div>
	</div><!-- /grid-b -->

	
	<br>
	<br>
	
        
        
        Total cost: <input type="text" id="currentCost" value="0.00"/>
        

	</div><!-- /content -->


</div>

<script>
// update the total price
// on the screen
function updatePriceTotal(){

    var count1 = $('#d1qty').val();
    var count2 = $('#d2qty').val();
	var count3 = $('#d3qty').val();
	var count4 = $('#d4qty').val();
    var count5 = $('#d5qty').val();
	var count6 = $('#d6qty').val();
	var count7 = $('#d7qty').val();
	var count8 = $('#d8qty').val();
    
    var type1Cost = 2.00; // cost for two euro things
	var type2Cost = 1.00; // cost for one euro things
    
	
    var totalCost2Euro = (parseInt(count1) + parseInt(count2) + parseInt(count3)) * parseInt(type1Cost);
    var totalCost1Euro = (parseInt(count4) + parseInt(count5) + parseInt(count6) + parseInt(count7) + parseInt(count8)) * parseInt(type2Cost);
    
	var totalCost = parseInt(totalCost2Euro) + parseInt(totalCost1Euro);
    //set the total cost into the total box
     
     $('#currentCost').val(totalCost + '.00');
     
}


$( "#dn1plus" ).click(function() {
  
  
      var count = $('#d1qty').val();
      count = parseInt(count) + 1;// adding one on
      
      // set the value back into the box
      $('#d1qty').val(count);
      
       updatePriceTotal();
  
});

$( "#dn1min" ).click(function() {
  
  
      var count = $('#d1qty').val();  // get the value
      count = parseInt(count) - 1;// adding one on
      
      // set the value back into the box
      $('#d1qty').val(count);
 
       updatePriceTotal();
	   
  
});

////////////////////////////////////////////////////


$( "#dn2plus" ).click(function() {
  
  
      var count = $('#d2qty').val();
      count = parseInt(count) + 1;// adding one on
      
      // set the value back into the box
      $('#d2qty').val(count);
      
       updatePriceTotal();
  
});

$( "#dn2min" ).click(function() {
  
  
      var count = $('#d2qty').val();  // get the value
      count = parseInt(count) - 1;// adding one on
      
      // set the value back into the box
      $('#d2qty').val(count);
 
       updatePriceTotal();
  
});

////////////////////////////////////////////////////


$( "#dn3plus" ).click(function() {
  
  
      var count = $('#d3qty').val();
      count = parseInt(count) + 1;// adding one on
      
      // set the value back into the box
      $('#d3qty').val(count);
      
       updatePriceTotal();
  
});

$( "#dn3min" ).click(function() {
  
  
      var count = $('#d3qty').val();  // get the value
      count = parseInt(count) - 1;// adding one on
      
      // set the value back into the box
      $('#d3qty').val(count);
 
       updatePriceTotal();
  
});

/////////////////////////////////////
$( "#dn4plus" ).click(function() {
  
  
      var count = $('#d4qty').val();
      count = parseInt(count) + 1;// adding one on
      
      // set the value back into the box
      $('#d4qty').val(count);
      
       updatePriceTotal();
  
});

$( "#dn4min" ).click(function() {
  
  
      var count = $('#d4qty').val();  // get the value
      count = parseInt(count) - 1;// adding one on
      
      // set the value back into the box
      $('#d4qty').val(count);
 
       updatePriceTotal();
	   
  
});

////////////////////////////////////////////////////


$( "#dn5plus" ).click(function() {
  
  
      var count = $('#d5qty').val();
      count = parseInt(count) + 1;// adding one on
      
      // set the value back into the box
      $('#d5qty').val(count);
      
       updatePriceTotal();
  
});

$( "#dn5min" ).click(function() {
  
  
      var count = $('#d5qty').val();  // get the value
      count = parseInt(count) - 1;// adding one on
      
      // set the value back into the box
      $('#d5qty').val(count);
 
       updatePriceTotal();
  
});

////////////////////////////////////////////////////


$( "#dn6plus" ).click(function() {
  
  
      var count = $('#d6qty').val();
      count = parseInt(count) + 1;// adding one on
      
      // set the value back into the box
      $('#d6qty').val(count);
      
       updatePriceTotal();
  
});

$( "#dn6min" ).click(function() {
  
  
      var count = $('#d6qty').val();  // get the value
      count = parseInt(count) - 1;// adding one on
      
      // set the value back into the box
      $('#d6qty').val(count);
 
       updatePriceTotal();
  
});


////////////////////////////////////////////////////


$( "#dn7plus" ).click(function() {
  
  
      var count = $('#d7qty').val();
      count = parseInt(count) + 1;// adding one on
      
      // set the value back into the box
      $('#d7qty').val(count);
      
       updatePriceTotal();
  
});

$( "#dn7min" ).click(function() {
  
  
      var count = $('#d7qty').val();  // get the value
      count = parseInt(count) - 1;// adding one on
      
      // set the value back into the box
      $('#d7qty').val(count);
 
       updatePriceTotal();
  
});

////////////////////////////////////////////////////


$( "#dn8plus" ).click(function() {
  
  
      var count = $('#d8qty').val();
      count = parseInt(count) + 1;// adding one on
      
      // set the value back into the box
      $('#d8qty').val(count);
      
       updatePriceTotal();
  
});

$( "#dn8min" ).click(function() {
  
  
      var count = $('#d8qty').val();  // get the value
      count = parseInt(count) - 1;// adding one on
      
      // set the value back into the box
      $('#d8qty').val(count);
 
       updatePriceTotal();
  
});

</script>
															






<div data-role="page" id="order" data-theme="a">

<div data-role="header">
		<h1>Order</h1>
	</div><!-- /header -->

<div role="main" class="ui-content">
		<h2>Order</h2>
        

        order here
        
        address:
             <input type="text" name="address" id="address" value="">

        <button id="placeorder" class="ui-btn">Button</button>
        
        
        <script>
        $( "#placeorder" ).click(function() {
          
          var add = $("#address").val();
          
          alert(add);
          
          
          $.post( "/putInSession", { address: add })
              .done(function( data ) {
                alert( "Data Loaded: " + data );
              });
        });
        </script>
        
        
	</div><!-- /content -->
</div>

</body>
</html>
